<div class="row">
	<div class="large-12 columns">
		<div class="nav-bar right">
			<form>
				<input type="text" name="firstname" style="width:150px;" placeholder="Email"/>
				<input type="password" name="lastname" style="width:150px;" placeholder="Password"/>
				<%= submit_tag "Login" %><br/>
				<p><%= check_box_tag :stay_logedin, 'male', false %> Keep me logged in</p> 
				<p><a href="#">Forgot password</a></p>
			</form>
		</div>
		<h1>ViitUp <small></small></h1>
		<hr/>
	</div>
</div>